{% extends 'base.html' %}
{% load static %}
{% load sex_filters %}

{% block css %}
  <link rel="stylesheet" href="{% static 'css/person_detail.css' %}">
{% endblock %}

{% block body %}
  {% static 'img/default-user.png' as default_avatar %}
  <div class="card mb-3">
    <div class="card-body">
      <img
          src="{% if person.avatar %}{{ person.avatar.url }}{% else %}{{ default_avatar }}{% endif %}"
          class="img-fluid img-thumbnail detail-img"
          alt=""
      >
      <h5 class="card-title">{{ person.full_name }}</h5>
      <p class="card-text">
        <b>Пол:</b> {{ person.get_sex_display|lower }}
        <br />
        <b>Возраст:</b> {{ person.age }}
      </p>
      <p class="card-text">
        {% if person.mother %}
          <b>Мать:</b>
          <a class="link-info" href="{% url 'members:detail' person.mother.pk %}">
            {{ person.mother.full_name }}
          </a>
        {% else %}
          <b>Мать:</b> неизвестна
        {% endif %}
        <br />
        {% if person.father %}
          <b>Отец:</b>
          <a class="link-info" href="{% url 'members:detail' person.father.pk %}">
            {{ person.father.full_name }}
          </a>
        {% else %}
          <b>Отец:</b> неизвестен
        {% endif %}
      </p>
      {% include 'generic/spouse.html' with spouse=person.spouse %}
      {% include 'generic/related_kin_list.html' with title='Дети' queryset=person.kin_children %}
      {% include 'generic/related_kin_list.html' with title='Внуки' queryset=person.kin_grandchildren|is_male %}
      {% include 'generic/related_kin_list.html' with title='Внучки' queryset=person.kin_grandchildren|is_female %}
      {% include 'generic/related_kin_list.html' with title='Правнуки' queryset=person.kin_great_grandchildren|is_male %}
      {% include 'generic/related_kin_list.html' with title='Правнучки' queryset=person.kin_great_grandchildren|is_female %}
      {% include 'generic/related_kin_list.html' with title='Дедушки' queryset=person.kin_grandparents|is_male %}
      {% include 'generic/related_kin_list.html' with title='Бабушки' queryset=person.kin_grandparents|is_female %}
      {% include 'generic/related_kin_list.html' with title='Прадедушки' queryset=person.kin_great_grandparents|is_male %}
      {% include 'generic/related_kin_list.html' with title='Прабабушки' queryset=person.kin_great_grandparents|is_female %}
      {% include 'generic/related_kin_list.html' with title='Родные братья' queryset=person.kin_siblings|is_male %}
      {% include 'generic/related_kin_list.html' with title='Родные сёстры' queryset=person.kin_siblings|is_female %}
      {% include 'generic/related_kin_list.html' with title='Сводные братья' queryset=person.kin_step_siblings|is_male %}
      {% include 'generic/related_kin_list.html' with title='Сводные сёстры' queryset=person.kin_step_siblings|is_female %}
      {% include 'generic/related_kin_list.html' with title='Дяди' queryset=person.kin_uncles_and_aunties|is_male %}
      {% include 'generic/related_kin_list.html' with title='Тёти' queryset=person.kin_uncles_and_aunties|is_female %}
      {% include 'generic/related_kin_list.html' with title='Двоюродные братья' queryset=person.kin_cousins|is_male %}
      {% include 'generic/related_kin_list.html' with title='Двоюродные сёстры' queryset=person.kin_cousins|is_female %}
      {% include 'generic/related_kin_list.html' with title='Племянники' queryset=person.kin_nephews_and_nieces|is_male %}
      {% include 'generic/related_kin_list.html' with title='Племянницы' queryset=person.kin_nephews_and_nieces|is_female %}
      <p class="card-text">
        <small class="text-muted">
          {{ person.date_of_birth }} - {% firstof person.date_of_death 'н.в.' %}
        </small>
      </p>
      <a role="button" class="btn btn-primary m-2 float-end" href="{% url 'members:list' %}">Назад</a>
    </div>
  </div>
{% endblock %}
