{% load static %}
<!DOCTYPE html>
<html lang='ru'>
<head>
  <meta charset='UTF-8'>
  {% block title %}
    <title>Генеалогическое древо</title>
  {% endblock %}

  {# Bootstrap #}
  <link
      href='https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/css/bootstrap.min.css'
      rel='stylesheet'
      integrity='sha384-SgOJa3DmI69IUzQ2PVdRZhwQ+dy64/BUtbMJw1MZ8t5HZApcHrRKUc4W0kG879m7'
      crossorigin='anonymous'
  >
  <link rel='stylesheet' href='{% static 'css/base.css' %}'>

  {% block css %}
  {% endblock %}
</head>
<body>
{% url 'members:list' as members_list %}
<nav class='navbar sticky-top navbar-dark bg-primary'>
  <div class='container-fluid'>
    {% if request.auth.user.is_superuser %}
      <a class='btn btn-primary p-0' role='button' title='Добавить члена дерева'>
        <svg width="24"
             height="24"
             viewBox="0 0 24 24"
             fill="none"
             stroke="currentColor"
             stroke-width="2"
             stroke-linecap="round"
             stroke-linejoin="round">
          <line x1="12" y1="5" x2="12" y2="19"></line>
          <line x1="5" y1="12" x2="19" y2="12"></line>
        </svg>
      </a>
    {% endif %}
    <a href='{% url 'home' %}' class='navbar-brand me-auto ms-2'>Древо</a>
    {% if request.path == members_list %}
      <form class='d-flex' action='{{ members_list }}'>
        <input
            name='search'
            value='{{ request.GET.search }}'
            class='form-control me-2'
            type='text'
            placeholder='Поиск...'
            aria-label='Поиск'
        >
        <div class='form-floating'>
          <select class='form-select form-control me-2 select_order-by' id='order_by' name='order_by'>
            <option value='date_of_birth' {% if request.GET.order_by == 'date_of_birth' %}selected{% endif %}>
              Возраст (по убыванию)
            </option>
            <option value='-date_of_birth' {% if request.GET.order_by == '-date_of_birth' %}selected{% endif %}>
              Возраст (по возрастанию)
            </option>
            <option
                value='first_name'
                {% if request.GET.order_by == 'first_name' %}selected{% endif %}>Имя (по алфавиту)
            </option>
            <option
                value='-first_name'
                {% if request.GET.order_by == '-first_name' %}selected{% endif %}>Имя (против алфавита)
            </option>
            <option
                value='last_name'
                {% if request.GET.order_by == 'last_name' %}selected{% endif %}>
              Фамилия (по алфавиту)
            </option>
            <option
                value='-last_name'
                {% if request.GET.order_by == '-last_name' %}selected{% endif %}
            >
              Фамилия (против алфавита)
            </option>
          </select>
          <label for='order_by'>Сортировать по:</label>
        </div>
        <button class='form-control ms-2 btn btn-outline-light' type='submit'>Поиск</button>
      </form>
    {% endif %}
  </div>
</nav>
<section class='container mt-2'>
  {% block body %}
  {% endblock %}
</section>

{# Bootstrap Bundle #}
<script
    src='https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js'
    integrity='sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq'
    crossorigin='anonymous'
>
</script>
</body>
</html>
