<!DOCTYPE html>
<html lang='ru'>
<head>
  <meta charset='UTF-8'>
  {% block title %}
    <title>Генеалогическое древо</title>
  {% endblock %}

  {% include 'styles.html' %}

  {% block css %}
  {% endblock %}
</head>
<body>
{% url 'members:list' as members_list %}
<nav class='navbar sticky-top navbar-dark bg-primary'>
  <div class='container-fluid'>
    <a href='{% url 'home' %}' class='navbar-brand'>Древо</a>
    {% if request.path == members_list %}
      <form class='d-flex' action='{{ members_list }}'>
        <input
            name='q'
            value='{{ request.GET.q }}'
            class='form-input form-control me-2'
            type='text'
            placeholder='Поиски по имени...'
            aria-label='Поиск'
        >
        <div class='form-floating'>
          <select class='form-select form-control me-2 select_order-by' id='order_by' name='order_by'>
            <option value='date_of_birth' {% if request.GET.order_by == 'date_of_birth' %}selected{% endif %}>
              Возраст (по убыванию)
            </option>
            <option value='-date_of_birth' {% if request.GET.order_by == '-date_of_birth' %}selected{% endif %}>
              Возраст (по возрастанию)
            </option>
            <option
                value='first_name'
                {% if request.GET.order_by == 'first_name' %}selected{% endif %}>Имя (по алфавиту)
            </option>
            <option
                value='-first_name'
                {% if request.GET.order_by == '-first_name' %}selected{% endif %}>Имя (против алфавита)
            </option>
            <option
                value='last_name'
                {% if request.GET.order_by == 'last_name' %}selected{% endif %}>
              Фамилия (по алфавиту)
            </option>
            <option
                value='-last_name'
                {% if request.GET.order_by == '-last_name' %}selected{% endif %}
            >
              Фамилия (против алфавита)
            </option>
          </select>
          <label for='order_by'>Сортировать по:</label>
        </div>
        <button class='form-control ms-2 btn btn-outline-light' type='submit'>Поиск</button>
      </form>
    {% endif %}
  </div>
</nav>
<section class='container mt-2'>
  {% block body %}
  {% endblock %}
</section>

{% include 'scripts.html' %}
</body>
</html>
